        <nav>
                  
              <div class="container">
            <div class="row">
              <div class="col-2">
                <!-- Navigation -->
              </div>
              <div class="col-10">
                <!-- Main Content -->
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <li><a href="/">Home</a></li>
              </div>
              <div class="col-4">
                <li><a href="/about/index.html">About Me</a></li>
              </div>
              <div class="col-4">
                <li><a href="/categories.html">Categories</a></li>
              </div>
            </div>
          </div>
                
        </nav>
